doctype html
html(lang='en' xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:v='urn:schemas-microsoft-com:vml')
  head
    title
    meta(content='text/html; charset=utf-8' http-equiv='Content-Type')
    meta(content='width=device-width, initial-scale=1.0' name='viewport')
    //if mso
      xml
        o:officedocumentsettings
          o:pixelsperinch 96
          o:allowpng
    // [if !mso] <!
    link(href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
    // <![endif]
    style.
      * {
      box-sizing: border-box;
      }
      body {
      margin: 0;
      padding: 0;
      }
      a[x-apple-data-detectors] {
      color: inherit !important;
      text-decoration: inherit !important;
      }
      #MessageViewBody a {
      color: inherit;
      text-decoration: none;
      }
      p {
      line-height: inherit
      }
      .desktop_hide,
      .desktop_hide table {
      mso-hide: all;
      display: none;
      max-height: 0px;
      overflow: hidden;
      }
      .image_block img+div {
      display: none;
      }
      @media (max-width:650px) {
      .desktop_hide table.icons-inner {
      display: inline-block !important;
      }
      .icons-inner {
      text-align: center;
      }
      .icons-inner td {
      margin: 0 auto;
      }
      .row-content {
      width: 100% !important;
      }
      .mobile_hide {
      display: none;
      }
      .stack .column {
      width: 100%;
      display: block;
      }
      .mobile_hide {
      min-height: 0;
      max-height: 0;
      max-width: 0;
      overflow: hidden;
      font-size: 0px;
      }
      .desktop_hide,
      .desktop_hide table {
      display: table !important;
      max-height: none !important;
      }
      }
  body(style='background-color: #FFFFFF; margin: 0; padding: 0; -webkit-text-size-adjust: none; text-size-adjust: none;')
    table.nl-container(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF;' width='100%')
      tbody
        tr
          td
            table.row.row-1(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #333; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='50%')
                            table.heading_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='text-align:center;width:100%;')
                                    h3(style="margin: 0; color: #8a3c90; direction: ltr; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; font-size: 24px; font-weight: 700; letter-spacing: normal; line-height: 150%; text-align: left; margin-top: 0; margin-bottom: 0;")
                                      span.tinyMce-placeholder #{game}
                          td.column.column-2(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-left: 10px; padding-right: 10px; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='50%')
                            table.paragraph_block.block-1(border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad
                                    div(style="color:#101112;direction:ltr;font-family:'Lato', Tahoma, Verdana, Segoe, sans-serif;font-size:16px;font-weight:400;letter-spacing:0px;line-height:120%;text-align:right;mso-line-height-alt:19.2px;")
                                      p(style='margin: 0;')
                                        em RelatedBoost
            table.row.row-2(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                            table.divider_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:10px;')
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #222222;')
                                              span  
            table.row.row-3(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                            table.image_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='width:100%;padding-right:0px;padding-left:0px;')
                                    .alignment(align='center' style='line-height:10px')
                                      img(alt='Image' src='https://d1oco4z2z1fhwp.cloudfront.net/templates/default/18/okok.gif' style='display: block; height: auto; border: 0; width: 252px; max-width: 100%;' title='Image' width='252')
            table.row.row-4(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 10px; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:5px;padding-left:10px;padding-right:10px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 16.8px;')
                                          strong
                                            span(style='font-size:18px;') Thank you for your order
                            table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:25px;padding-left:10px;padding-right:10px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #71777D; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: center; mso-line-height-alt: 16.8px;') This email is to confirm your recent order.
                            table.text_block.block-3(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; mso-line-height-alt: 16.8px;')
                                          span(style='font-size:16px;')
                                            strong Bill To
                            table.text_block.block-4(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; mso-line-height-alt: 16.8px;')
                                          span(style='font-size:14px;') #{email}
            table.row.row-5(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #000000; color: #333; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='33.333333333333336%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #FFFFFF; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: left; mso-line-height-alt: 16.8px;')
                                          span(style='font-size:14px;') Items & Description
                          td.column.column-2(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='50%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #FFFFFF; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: right; mso-line-height-alt: 16.8px;')
                                          span(style='font-size:14px;') Extra Options
                          td.column.column-3(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='16.666666666666668%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #FFFFFF; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: right; mso-line-height-alt: 16.8px;')
                                          span(style='font-size:14px;') Price
            table.row.row-6(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF; color: #333; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-top: 15px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='33.333333333333336%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 15px; text-align: left; mso-line-height-alt: 18px;')
                                          span(style='font-size:15px;')
                                            strong #{boostType}
                                        p(style='margin: 0; font-size: 15px; text-align: left; mso-line-height-alt: 14.399999999999999px;')  
                                        p(style='margin: 0; font-size: 15px; text-align: left; mso-line-height-alt: 18px;')
                                          span(style='font-size:14px;') From #{current} To #{desired}
                          td.column.column-2(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-top: 15px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='50%')
                            table.list_block.block-1(border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad
                                    ul(style="margin-top: 0; margin-bottom: 0; padding: 0; margin-right: 20px; list-style-type: revert; color: #101112; direction: rtl; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; font-size: 16px; font-weight: 400; letter-spacing: 0px; line-height: 120%; text-align: right;")
                                      each option in options
                                        li(style='margin-bottom: 0px;')= option
                          td.column.column-3(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 15px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='16.666666666666668%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: right; mso-line-height-alt: 16.8px;')
                                          span(style='font-size:14px;') € #{price}
            table.row.row-7(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #333; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='33.333333333333336%')
                            table.divider_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-top:10px;')
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;')
                                              span  
                            table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: left; mso-line-height-alt: 16.8px;')
                                          span(style='font-size:14px;') Platform
                          td.column.column-2(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='25%')
                            table.divider_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-top:10px;')
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;')
                                              span  
                            table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: left; mso-line-height-alt: 16.8px;') GameMode
                          td.column.column-3(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='25%')
                            table.divider_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-top:10px;')
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;')
                                              span  
                            table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: left; mso-line-height-alt: 16.8px;') Server
                          td.column.column-4(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='16.666666666666668%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #FFFFFF; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 12px; mso-line-height-alt: 14.399999999999999px;')  
            table.row.row-8(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #ffffff; color: #333; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='33.333333333333336%')
                            table.divider_block.block-1(border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;')
                                              span  
                            table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: left; mso-line-height-alt: 16.8px;')
                                          span(style='font-size:14px;') #{platform}
                          td.column.column-2(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='25%')
                            table.divider_block.block-1(border='0' cellpadding='10' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;')
                                              span  
                            table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: left; mso-line-height-alt: 16.8px;') #{gamemode}
                          td.column.column-3(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='25%')
                            table.divider_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:10px;padding-top:10px;')
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;')
                                              span  
                            table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 12px; mso-line-height-alt: 14.399999999999999px;')
                                          span(style='font-size:14px;') #{server}
                          td.column.column-4(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: middle; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='16.666666666666668%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-left:20px;padding-right:20px;padding-top:10px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #FFFFFF; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 12px; mso-line-height-alt: 14.399999999999999px;')  
            table.row.row-9(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF; color: #333; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='83.33333333333333%')
                            table.divider_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-top:10px;')
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;')
                                              span  
                            table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:5px;padding-left:20px;padding-right:20px;padding-top:5px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: right; mso-line-height-alt: 16.8px;')
                                          strong TOTAL
                          td.column.column-2(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='16.666666666666668%')
                            table.divider_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:10px;padding-top:10px;')
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px solid #dddddd;')
                                              span  
                            table.text_block.block-2(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:5px;padding-left:20px;padding-right:20px;padding-top:5px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: right; mso-line-height-alt: 16.8px;')
                                          strong € #{price}
            table.row.row-10(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; background-color: #FFFFFF; color: #333; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='83.33333333333333%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:5px;padding-left:20px;padding-right:20px;padding-top:5px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: right; mso-line-height-alt: 16.8px;') Amount paid
                          td.column.column-2(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='16.666666666666668%')
                            table.text_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; word-break: break-word;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:5px;padding-left:20px;padding-right:20px;padding-top:5px;')
                                    div(style='font-family: sans-serif')
                                      div(style="font-size: 12px; font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; mso-line-height-alt: 14.399999999999999px; color: #000000; line-height: 1.2;")
                                        p(style='margin: 0; font-size: 14px; text-align: right; mso-line-height-alt: 16.8px;') € #{price}
            table.row.row-11(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                            table.divider_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='padding-bottom:15px;padding-left:10px;padding-right:10px;padding-top:15px;')
                                    .alignment(align='center')
                                      table(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                        tbody
                                          tr
                                            td.divider_inner(style='font-size: 1px; line-height: 1px; border-top: 1px dotted #CCCCCC;')
                                              span  
            table.row.row-12(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
              tbody
                tr
                  td
                    table.row-content.stack(align='center' border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #000000; width: 630px;' width='630')
                      tbody
                        tr
                          td.column.column-1(style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; font-weight: 400; text-align: left; padding-bottom: 5px; padding-top: 5px; vertical-align: top; border-top: 0px; border-right: 0px; border-bottom: 0px; border-left: 0px;' width='100%')
                            table.icons_block.block-1(border='0' cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                              tbody
                                tr
                                  td.pad(style='vertical-align: middle; color: #9d9d9d; font-family: inherit; font-size: 15px; padding-bottom: 5px; padding-top: 5px; text-align: center;')
                                    table(cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt;' width='100%')
                                      tbody
                                        tr
                                          td.alignment(style='vertical-align: middle; text-align: center;')
                                            //if vml
                                              table(align='left' cellpadding='0' cellspacing='0' role='presentation' style='display:inline-block;padding-left:0px;padding-right:0px;mso-table-lspace: 0pt;mso-table-rspace: 0pt;')
                                            // [if !vml] <!
                                            table.icons-inner(cellpadding='0' cellspacing='0' role='presentation' style='mso-table-lspace: 0pt; mso-table-rspace: 0pt; display: inline-block; margin-right: -4px; padding-left: 0px; padding-right: 0px;')
                                              // <![endif]
                                              tbody
                                                tr
                                                  td(style='vertical-align: middle; text-align: center; padding-top: 5px; padding-bottom: 5px; padding-left: 5px; padding-right: 6px;')
                                                    a(href='https://www.designedwithbee.com/' style='text-decoration: none;' target='_blank')
                                                      img.icon(align='center' alt='Designed with BEE' height='32' src='https://d15k2d11r6t6rl.cloudfront.net/public/users/Integrators/BeeProAgency/53601_510656/Signature/bee.png' style='display: block; height: auto; margin: 0 auto; border: 0;' width='34')
                                                  td(style="font-family: 'Lato', Tahoma, Verdana, Segoe, sans-serif; font-size: 15px; color: #9d9d9d; vertical-align: middle; letter-spacing: undefined; text-align: center;")
                                                    a(href='https://www.designedwithbee.com/' style='color: #9d9d9d; text-decoration: none;' target='_blank') RelatedBoost
    // End
